body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
h1{
    color: coral;
    font-size: xx-large;
    font-weight: 400;
}
p{
    font-size: large;
}
#divParaAlert{
    background-color: bisque;
    color: salmon;
}